body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.button {
  border: 0;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
}
.button:hover {
  background-color: #188ce8;
}

:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --bcg-color: #f5f4fa;
  --secondary-bcg-color: #2f303a;
  --potfolio-border-card: 1px solid #eeeeee;
  --icon-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  min-height: 80px;
  background-color: var(--secondary-text-color);
  border-bottom: 1px solid #ECECEC;
}

.head {
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}

.logo__part-header {
  color: var(--title-color);
}

.navigation {
  align-items: center;
}

.navigation__list {
  margin-left: 93px;
  gap: 50px;
}

.navigation__item {
  position: relative;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: color 250ms var(--timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link.current::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 4px;
  background-color: var(--accent-color);
  transform-origin: left;
  animation-name: current;
  animation-duration: 800ms;
  animation-timing-function: var(--timing-function);
  animation-fill-mode: forwards;
}

@keyframes current {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
.contactlist {
  margin-left: auto;
  gap: 50px;
}

.contact__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms var(--timing-function);
}
.contactlist__link:hover .contact__icon, .contactlist__link:focus .contact__icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contactlist__link {
  align-items: center;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: color 250ms var(--timing-function);
}
.contactlist__link:hover, .contactlist__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  background-color: var(--secondary-bcg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desctop/Hero-desctop-x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--bcg-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero__button {
  padding-left: 32px;
  padding-right: 32px;
}

.peculiarities {
  padding-bottom: 0;
}

.peculiarities__list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .peculiarities__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.peculiarities__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .peculiarities__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__item {
    width: 270px;
  }
}

.peculiarities__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--bcg-color);
  background-repeat: no-repeat;
  background-position: center;
}

.antena::before {
  background-image: url(../img/svg/antenna\ 1.svg);
}

.clock::before {
  background-image: url(../img/svg/clock\ 1.svg);
}

.diagramm::before {
  background-image: url(../img/svg/diagram\ 1.svg);
}

.astronaut::before {
  background-image: url(../img/svg/astronaut\ 1.svg);
}

.peculiarities__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.peculiarities__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.activity {
  display: none;
}
@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity__list {
  display: flex;
  gap: 30px;
  width: 100;
}

.activity__item {
  position: relative;
  overflow: hidden;
}

.activity__text {
  position: absolute;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  transition: transform 300ms var(--timing-function);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.activity__item:hover .activity__text {
  transform: translateY(-100%);
}

.section.team {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section.team {
    margin-top: 0;
  }
}

.team {
  background-color: var(--bcg-color);
}

.title-section {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-color);
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
}

.team__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__soc-link {
  margin: 0;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}
.team__soc-link:hover, .team__soc-link:focus {
  background-color: var(--accent-color);
}

.team__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
.team__soc-link:hover .team__icon {
  fill: var(--secondary-text-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}

.clients__link {
  display: inline-flex;
  padding: 10px 20px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  transition: border 250ms var(--timing-function);
}
@media screen and (min-width: 480px) {
  .clients__link {
    height: 92px;
    padding: 16px 52px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    padding: 16px 32px;
  }
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  margin-left: auto;
  margin-right: auto;
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bcg-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-left: 60px;
    padding-right: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-links {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-links__adress {
    margin-right: 70px;
  }
}

.logo__part-footer {
  color: var(--secondary-text-color);
}

.footer-contact__list {
  margin-top: 20px;
}

.footer-adress__link {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-contact__item {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contact__item {
    margin-top: 9px;
  }
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-soc {
  margin: 60px 0;
}

.footer__text {
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-soc__list {
  display: flex;
  gap: 10px;
}

.footer-soc__item {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.footer-soc__item:hover, .footer-soc__item:focus {
  background-color: var(--accent-color);
}

.footer-soc__link {
  display: inline-block;
  padding: 12px;
}

.footer-soc__icon {
  fill: var(--secondary-text-color);
}

.wraper__footer-form {
  margin-left: auto;
}

.footerForm {
  align-items: end;
}
@media screen and (min-width: 1200px) {
  .footerForm {
    display: flex;
  }
}

.footerForm__label {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footerForm__input {
  width: 100%;
  padding: 15px 16px;
  color: var(--secondary-text-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footerForm__input:focus {
  outline: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .footerForm__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footerForm__input {
    width: 358px;
  }
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-height: 580px;
  width: 528px;
  background-color: var(--secondary-text-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal__icon-close {
  transition: fill 250ms var(--timing-function);
}
.modal__icon-close:hover, .modal__icon-close:focus {
  fill: var(--accent-color);
}

/* -----------------Modal Form----------------- */
.modalForm__data {
  margin-bottom: 12px;
  color: var(--title-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.modalForm__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modalForm__label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modalForm__inputWrap {
  position: relative;
}

.modalForm__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modalForm__input:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.modalForm__input:focus + .modalForm__icon {
  fill: var(--accent-color);
}

.modalForm__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modalForm__textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modalForm__input.textarea {
  padding: 12px 16px;
}

.textarea {
  resize: none;
  min-height: 120px;
}

.modalForm__contrackt {
  margin-bottom: 30px;
}

.modalForm__check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalForm__checkbox:checked ~ .modalForm__checkboxcustom {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../img/svg/icon\ check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.check__text {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modalForm__checkboxcustom {
  display: flex;
  width: 15px;
  height: 16px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.modalForm__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modalForm__btnWrap {
  display: flex;
  justify-content: center;
}

.filter__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter__buttons {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__buttons {
    margin-bottom: 50px;
  }
}

.filter__btn {
  margin-bottom: 15px;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
  color: var(--title-color);
  background-color: var(--bcg-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.card__set {
  display: block;
}
@media screen and (min-width: 768px) {
  .card__set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.card__item {
  transition: box-shadow 250ms var(--timing-function);
}
.card__item:hover, .card__item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .card__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__item {
    width: calc((100% - 30px) / 2);
  }
}

.card__wrapper {
  position: relative;
  overflow: hidden;
}

.card__wrapp-text {
  position: absolute;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.54px;
  transition: transform 300ms var(--timing-function);
}
.card__wrapper:hover .card__wrapp-text, .card__wrapper:focus .card__wrapp-text {
  transform: translateY(-100%);
}

.card__content {
  padding: 20px 24px;
  border-left: var(--potfolio-border-card);
  border-right: var(--potfolio-border-card);
  border-bottom: var(--potfolio-border-card);
}

.card__title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.card__text {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */