:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --bcg-color: #f5f4fa;
  --secondary-bcg-color: #2f303a;
  --potfolio-border-card: 1px solid #eeeeee;
  --icon-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}